<h1>Login form</h1>

<form action="/login" method="post">
  <input type="text" name="username" id="" value="" placeholder="username">
  <input type="password" name="password" id="" value="" placeholder="password">
  <button type="submit">Login</button>
</form>
