<h1>Create a new resource</h1>


<form action="/resources" method="POST" accept-charset="utf-8">
  <input type="text" placeholder="name" value="" name="name" id="name"/>
  <input type="text" placeholder="image url" value="" name="image" id="image"/>
  <button>Submit</button>
</form>
