<% include partials/header %>

<div class="container">
  <header class = "jumbotron">
    <div class="container">
      <h1> You have reached the resources.ejs page</h1>
      <p>info about the resource should go here</p>
      <p> <a class="btn btn-primary btn-large" href="/resources/new">Add new resource</a> </p>
    </div>
  </header>


    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
      <% resources.forEach(function(resource) { %>
          <div class="col-md3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= resource.image %>">
            </div>
            <div class="thumbnail">
              <h5><%=resource.name%></h5>
            </div>
          </div>
      <% }); %>
    </div>
</div>


<% include partials/footer %>
